In [ ]:
# !pip install pandas

In [3]:
import pandas as pd

# Calculating Statistics

In [1]:
csv_file = "../data/data.csv"
output_csv = "../data/data_stats.csv"

Reading data

In [5]:
df = pd.read_csv(csv_file)
df.head()

       mouse  count
0  Lederberg   2132
1      Hench   1411
2   Richards   1127
3  Forssmann   1045
4    Radnitz    962

Calculating statistics

In [6]:
df_stat = df.describe().reset_index()
df_stat

   index        count
0  count     5.000000
1   mean  1335.400000
2    std   476.307989
3    min   962.000000
4    25%  1045.000000
5    50%  1127.000000
6    75%  1411.000000
7    max  2132.000000

Writing to csv file

In [ ]:
df_stat.to_csv(output_csv, index=False)